<template>

    <p>
        Curtiu o artigo?
        <button class="btn btn-default btn-sm" type="button">
            <span aria-hidden="true" class="glyphicon glyphicon-thumbs-up"></span>
        </button>
        <button class="btn btn-default btn-sm" type="button">
            <span aria-hidden="true" class="glyphicon glyphicon-thumbs-down"></span>
        </button>
    </p>
</template>

<script>
    export default {
        props: ['idartigo']
    }
</script>
