<template>
  <div v-bind:class="defineCor">
    <div v-if="titulo" class="panel-heading">{{titulo}}</div>

    <div class="panel-body">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: ["titulo", "cor"],
  computed: {
    defineCor: function() {
      return "panel " + (this.cor || "panel-default");
    }
  }
};
</script>

<style>
.blue {
  border-color: #668aff;
}
.blue > .panel-heading {
    color: #f7f7f7;
    background-color: #0d4a96;
    border-color: #668aff;
}
.orange {
  border-color: #ffaf6e;
}
.orange > .panel-heading {
    color: #f7f7f7;
    background-color: #eea00f;
    border-color: #ffaf6e;
}

</style>
