<template>
  <div class>
    <div class="form-inline">
      
      <a v-if="criar && !modal" v-bind:href="criar">Criar Artigos</a>
      <modallink v-if="criar && modal" nome='adicionar' tipo="link" titulo='Criar' css=''></modallink>
      <div class="form-group pull-right">
        <input class="form-control" type="search" placeholder="Buscar" v-model="buscar">
        
      </div>
    </div>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th style="cursor:pointer" v-on:click="ordenaColuna(index)" v-for="(titulo,index) in titulos" :key="index">{{titulo}}</th>
          <th v-if="detalhe || editar || deletar">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,index) in lista" :key="index">
          <td v-for="i in item" :key="i">{{i | formataData}}</td>

          <td v-if="detalhe || editar || deletar">
            <form v-bind:id="index" v-if="deletar && token" v-bind:action="deletar + item.id" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <input type="hidden" name="_token" v-bind:value="token">
              <a v-if="detalhe && !modal" v-bind:href="detalhe">Detalhe |</a>
              <modallink v-if="detalhe && modal" v-bind:item="item" v-bind:url="detalhe" nome='detalhe' tipo="link" titulo='Detalhe |' css=''></modallink>

              <a  v-if="editar && !modal" v-bind:href="editar">Editar |</a>
              <modallink v-if="editar && modal" v-bind:item="item" v-bind:url="editar" nome='editar' tipo="link" titulo='Editar |' css=''></modallink>
              
              <a href="#" v-on:click="executaForm(index)">Deletar</a>
            </form>
            <span v-if="!token">
              <a v-if="detalhe && !modal" v-bind:href="detalhe">Detalhe |</a>
              <modallink v-if="detalhe && modal" v-bind:url="detalhe"  v-bind:item="item" nome='detalhe' tipo="link" titulo='Detalhe |' css=''></modallink>
              <a  v-if="editar && !modal" v-bind:href="editar">Editar |</a>
              <modallink v-if="editar && modal" v-bind:item="item" v-bind:url="editar" nome='editar' tipo="link" titulo='Editar |' css=''></modallink>
              <a v-if="deletar" v-bind:href="deletar">Deletar</a>
            </span>
            <span v-if="token && !deletar">
              <a v-if="detalhe && !modal" v-bind:href="detalhe">Detalhe |</a>
              <modallink v-if="detalhe && modal" v-bind:url="detalhe" v-bind:item="item" nome='detalhe' tipo="link" titulo='Detalhe |' css=''></modallink>
              <a  v-if="editar && !modal" v-bind:href="editar">Editar |</a>
              <modallink v-if="editar && modal" v-bind:item="item" v-bind:url="editar" nome='editar' tipo="link" titulo='Editar |' css=''></modallink>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  props: [
    "titulos",
    "itens",
    "criar",
    "editar",
    "detalhe",
    "deletar",
    "token",
    "ordem",
    "ordemcol",
    "modal"
  ],
  data: function() {
    return {
      buscar: "",
      ordemAux:this.ordem || "asc",
      ordemAuxCol:this.ordemcol || 0,

    };
  },
  methods: {
    executaForm: function(index) {  
      console.log(index);
      document.getElementById(index).submit();
    },
    ordenaColuna: function(coluna) {
      this.ordemCol = coluna;
      if (this.ordemAux.toLowerCase() == "asc") {
        this.ordemAux = "desc";
      } else {
        this.ordemAux = "asc";
      }
    }
  },
  filters:{
    formataData:function(value){
      if(!value) return '';
      value = value.toString();
      if(value.split('-').length == 3){
        value = value.split('-');
        return value[2]+'/'+value[1]+'/'+value[0];
      } else if (value.length >= 60) {
          return value.substring(0, 59) + ' ...';
      }

        return value;
    }
  },
  computed: {
    lista: function() {
      let lista = this.itens.data;
      let ordem = this.ordemAux;
      let ordemCol = this.ordemAuxCol;
      ordem = ordem.toLowerCase();
      ordemCol = parseInt(ordemCol);

      if (ordem == "asc") {
        lista.sort(function(a, b) {
          if (Object.values(a)[ordemCol] > Object.values(b)[ordemCol]) return 1;
          if (Object.values(a)[ordemCol] < Object.values(b)[ordemCol]) return -1;
          return 0;
        });
      } else {
        lista.sort(function(a, b) {
          if (Object.values(a)[ordemCol] < Object.values(b)[ordemCol]) return 1;
          if (Object.values(a)[ordemCol] > Object.values(b)[ordemCol]) return -1;
          return 0;
        });
      }

      if(this.buscar){
        
        return lista.filter(res => {
          res = Object.values(res);
        for (let k = 0; k < res.length; k++) {
          if (
            res[k]
              .toString()
              .toLowerCase()
              .indexOf(this.buscar.toLowerCase().toString()) >= 0
          ) {
            return true;
          }
        }
        return false;
      });
      }
      return lista;
      
    }
  }
};
</script>

